    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About REON</h2>
                <p>REON is for people of digital age that have many connected devices and want to control all of them through a single app.</p>
                <p>REON is a mobile app and web service for <b>secure</b> access and communication between <b>smart</b> devices. It can be used for i.e. remote access to your apps and data on different devices (like Android, IOS etc.), accessing and redirecting your phone calls, accessing your home appliances or security systems etc.</p>
                <p>REON is not yet ready for prime time. We are currently in a process of accumulating funds to give it a go in the very near future. In the meantime you can have a look at our <a href="https://github.com/reon-io">github repository</a> where we develop SDK for the project.</p>
            </div>
        </div>
    </section>
